@font-face {
	font-family: "Vazirmatn";
	src: url("../fonts/Vazirmatn-Regular.woff2") format("woff2");
	font-weight: 400;
}

@font-face {
	font-family: "Vazirmatn";
	src: url("../fonts/Vazirmatn-Bold.woff2") format("woff2");
	font-weight: 700;
}

body,
input,
textarea {
	font-family: "Vazirmatn", Tahoma, Verdana, sans-serif;
}





input[type='submit'],
input[type='reset'],
input[type='radio'],
input[type='checkbox'],
input[type='file'],
input[type='button'] {
	cursor: pointer;
}

.ltr {
	direction: ltr;
	text-align: left;
}

.error {
	color: red;
	font-weight: bold;
}

.error::after {
	content: " ❌";
}

.error.code {
	direction: ltr;
	float: left;
	font-family: monospace;
	background-color: black;
	padding: 5px;
	width: fit-content;
}

.error.code::after {
	content: none;
}

.done {
	color: darkgreen;
}

.done::after {
	content: " ✅";
}

.warn {
	color: orangered;
}


.required {
	color: #ac0000;
}

.readonly {
	background-color: #eee;
	cursor: not-allowed;
	border: 0;
	padding: 4px;
}